* {
	font-size: 12px;
}

body {
    font-family: Helvetica,Arial;
    font-size: 10pt;
    background-color:#8B8378;
    color:#666;
}

li {
    list-style:none;
}

ul{
    padding:0;
    margin:0;
    white-space:nowrap;
}

.thumbnail {
    height:50px;
    padding:2px;
}

#container {
	width: 1024px;
	margin: 0 auto;
}

#thumbnail li {
	float: left;
	padding: 10px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #00FF00 -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 2px 0;
  margin: 8px ;
}
